.tooltip-btn {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;

  @include viewport--md {
    width: 18px;
    height: 18px;
  }

  button {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: $color-nobel;
    border: none;
    background-color: $color-white-smoke;
    font-weight: 700;
  }
}
